@import "_variables_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-size: 1rem;
};

.header__bg{
    background-color: #f3e9f1;
};

.footer__bg{
    background-color: #f3e9f1; 
};

.main__bg{
    background-color: #f4f6f9;
};

